body{
background: linear-gradient(135deg,#6366f1,#9333ea);
font-family: Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:white;
padding:40px;
border-radius:15px;
width:420px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:20px;
}

input,textarea{
width:100%;
padding:10px;
margin:8px 0;
border-radius:8px;
border:1px solid #ddd;
}

button{
background:#6366f1;
color:white;
border:none;
padding:12px;
width:100%;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#4f46e5;
}